################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/Empty/obj/Debug
/samples/UI/EntityForm/EntityForm_onChange1/obj/Debug/EntityForm_onChange1.csproj.CoreCompileInputs.cache
/samples/UI/EntityForm/EntityForm_onChange1/obj/Release/EntityForm_onChange1.csproj.CoreCompileInputs.cache
/samples/Empty/obj/Release/OfflineHtml.csproj.CoreCompileInputs.cache
/.vs
